@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, var(--primary), var(--primary-variant));
}

.container{
    width: 80vw;
    height: auto;
    background: var(--gs-light);
    border-radius: var(--border-radius);
    box-shadow: 0 0 30px var(--shadow-dark);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.container.login {
    flex-direction: row-reverse;
}

.form-box{
    width: 50%;
    height: auto;
    padding: 2em;
    color: var(--gs-dark-variant);
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

form{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    text-align: start;
}

.container h1{
    font-size: var(--font-xl);
    margin: 1em 0;
}

/* h1 */
.login_bem_vindo{
    color: var(--gs-light);
}

.input-box{
    width: 100%;
    position: relative;
    margin: 0 0;
}

.input-box label{
    padding-left: 1em;
}

.input-box input{
    padding: 13px 50px 13px 20px;
    background: var(--gs-light-variant);
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--gs-dark-variant);
    font-weight: 500;
}

.input-box input::placeholder{
    color: var(--gs-medium);
    font-weight: 400;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--gs-medium);
}

.forgot-link {
    margin: -15px 0 15px;
}

.forgot-link a {
    font-size: 14.5px;
    color: var(--gs-dark-variant);
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 48px;
    background: var(--accent-variant);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px var(--shadow-light);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--gs-light);
    font-size: 600;
}

.btn:hover, .btn:active{
    background-color: var(--accent);
    color: var(--white);
}

.btn-secondary {
    width: auto;
    padding: 0.5em 2.5em;
    background: transparent;
    border: 2px solid var(--gs-light);
    box-shadow: none;
}

.btn-secondary:hover{
    border: 2px solid var(--gs-light);
}

.toggle-box {
    width: 50%;
    height: auto;
    color: var(--gs-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-variant);
}

.container.login .toggle-box{
    border-radius: 0 33% 33% 0;
}

.container.register .toggle-box{
    border-radius: 33% 0 0 33%;
}

@media screen and (max-width: 650px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 5vh 5vw;
    }
    .container.register {
        flex-direction: column-reverse;
    }
    .container.login{
        flex-direction: column;
    }

    .form-box {
        width: 100%;
    }

    .toggle-box{
        width: 100%;
        padding: 2em 0;
    }
    
    .container.login .toggle-box {
        border-radius: 33% 33% 0 0;
    }
    
    .container.register .toggle-box {
        border-radius: 0 0 33% 33%;
    }
}

.errorlist{
    padding: 1em;
    color:var(--red);
    /*border: var(--border-small) solid var(--red);
    border-radius: var(--border-radius);*/
}
