.book{
    background-color: var(--primary-variant);
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding-top: 3vh;
    margin-bottom: 5vh;
}

#cover-anim{
    height: 55vh;
}

#book-cover{
    height: 55vh;
    padding: 0;
    box-shadow: 0.2em 0.5em 0.5em var(--shadow-dark);
    border-radius: 0 1.4em 1.4rem 0;
}
#book-cover:hover {
    transform: translateY(-5px);
    box-shadow: 0.2em 1em 0.5em var(--shadow-dark);
}

#book-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.book-title {
    color: var(--gs-medium);
    font-style: italic;
    align-self: center;
}

.estrofe-id {
    align-self: start;
}

.estrofe {
    align-self: center;
}

.page, .page-turn, .page-turn-back{
    height: 55vh;
    width: calc(55vh * 4 / 5);
    background-color: var(--gs-light);
    color: var(--gs-dark-variant);
    border: var(--accent) solid 4px;
    padding: 3vh 1vw;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0;
}

.left{
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.right{
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.page:hover{
    background-color: var(--gs-light-variant);
}

.page:active{
    background-color: var(--gs-light);
}


/* --- */

.page-turn{
    border-radius: 0 1rem 1rem 0;
    position: absolute;
    top: 12vh;
    left: 50vw;
    animation: turn 1s ease-in-out;
}

.page-turn-back{
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    top: 12vh;
    left: 20vw;
    animation: turnBack 1s ease-in-out;
}

@keyframes turn {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-180deg);
        top: 12vh;
        left: 20vw;
    }
}

@keyframes turnBack {
    0% {
        transform: rotateY(-180deg);
    }
    100% {
        transform: rotateY(0deg);
        top: 12vh;
        left: 50vw;
    }
}

/* ------------------------ */
.card{
    width: 20vw;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--secondary);
    color: var(--gs-light);
    box-shadow: 0 1em 1em var(--shadow-dark);
}

.illustration{
    height: calc(20vw * 3 / 4);
    position: absolute;
    top: 20vh;
    left: 5vw;
    animation: image ease-in-out 1s;
}

.illustration img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius);
}

.notes{
    min-height: calc(20vw * 3 / 4);
    padding: 1em 1em;
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    animation: notes ease-in-out 1s;
}

.notes h3{
    color: var(--on-secondary);
}

.audio{
    width: auto;
    height: 15vh;
    position: absolute;
    bottom: 15vh;
    left: 5vw;
    padding: 1em 1em;
    animation: audio ease-in-out 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes notes {
    from {
        bottom: 30vh;
        right: 40vw;
    } 
}

@keyframes image {
    from {
        top: 40vh;
        left: 40vw;
    }
}

@keyframes audio {
    from {
        top: 50vh;
        left: 40vw;
    }
}

@media (max-width: 1500px) {
    .cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2em;
        margin-bottom: 5vh;
    }

    .notes {
        position: relative;
        top:0;
        left:0;
        width: 30vw;
        animation: none;
    }
    
    .illustration {
        position: relative;
        top:0;
        left:0;
        animation: none;
    }
    
    .audio {
        position: relative;
        top:0;
        left:0;
        animation: none;
    }
}

@media (max-width: 992px) {
    .book{
        height: auto;
        width: auto;
        flex-direction: column;
        align-items: center;
    }
    .page {
        height: auto;
        width: 80vw;
        padding: 3em 1em;
        font-size: var(--font-m);
    }
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        margin-bottom: 5vh;
    }
    .card{
        width: 80vw;
        height: auto;
    }

}