{% load i18n %} 
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% include "head_links.html" with title="Entrar" %} 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>

  <body>
    <div class="container login">
      <div class="form-box">
        <form method="POST" action="login">
          {% csrf_token %}
          <h1>{{_("Entrar")}}</h1>
          <div class="input-box"> 
            <label for="id_username">{{_("Nome de")}} {{form.username.label}}*:</label>
            {{form.username}}
            <i class="bx bx-user"></i>
          </div>

          <div class="input-box">
            <label for="id_password">{{form.password.label}}*:</label>
            {{form.password}}
            <i class="bx bx-lock"></i>
          </div>

          <!--div class="forgot-link">
            <a href="#">{{_("Esqueceu-se da sua palavra-passe?")}}</a>
          </div-->
          <input type="submit" class="btn" value="{{_("Entrar")}}" />
        </form>
        {{form.errors}} {% for message in messages%}
        <p id="messages">{{message}}</p>
        {% endfor %}
      </div>

      <div class="toggle-box">
        <h1 class="login_bem_vindo">{{_("Salve, Bem-vindo/a!")}}</h1>
        <p>{{_("Ainda não tem conta?")}}</p>
        <a href="register" class="btn btn-secondary">{{_("Registar")}}</a>
      </div>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
