{% extends 'base.html' %} 
{% load i18n %} 
{% load static %} 

{% block head %}
{% include "head_links.html" with title="Sobre" %} 
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %} 

{% block main %}
<h1>{{_("Saber mais")}}</h1>

<section class="about_section layout_padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>{{_("Sobre o projeto")}}</h2>
          </div>
          <p>{{_("Somos um grupo de estudantes do Instituto Superior de Engenharia de Lisboa (ISEL) a frequentar o final da Licênciatura em Engenharia Informática e Multimédia. Como projeto final de licênciatura, proposémo-nos a desenvolver um website dedicado à divulgação da obra")}} <i>{{_("Os Lusíadas")}}</i> {{_("do grande poeta português, Luís Vaz de Camões.")}}
            
            <br />
            {{_("No contexto dos 500 anos do seu nascimento, o nosso objetivo é criar uma plataforma de divulgação multimédia interativa que não só apresente a obra de Camões, com a sua tradução para a língua inglesa mas, também, mostrar como Camões, influência o mundo, em especial o artístico e literário, nos nossos dias.")}}
            
            <br />
            {{_("Este projeto, complementar ao projeto Epopeia Viva, foi sugerido por um porfessor da FCSH, Faculdade de Ciências Sociais e Humanas da Universidade NOVA de Lisboa e copatrocinada pelo CETAPS FCSH na Universidade NOVA de Lisboa, CEIBA FBAUL na Faculdade de Belas Artes da Universidade de Lisboa, California State University’s Institute For Portuguese Beyond Fronteiras e Ja Teatro Internacional com sede em Lisboa.")}}
          </p>
          <!--a href> {{_("Saber mais")}} </a--> <!--link para o rekatorio--> 
          <!-- link para o github -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <a target="_black" href="https://www.isel.pt/"
            ><img src="{% static 'images/isel_logo.jpg' %}" alt="{{_("ISEL")}}"/>
          </a>
        </div>
        <div class="img-box">
          <a target="_black" href="https://www.fcsh.unl.pt/"
            ><img src="{% static 'images/NOVA_FCSH_logo.png' %}" alt="{{_("NOVA FCSH")}}"/>
          </a>
        </div>
        <div class="img-box">
          <a target="_black" href="https://www.fcsh.unl.pt/unidades-investigacao/centro-de-estudos-ingleses-de-traducao-e-anglo-portugueses-cetaps/"
            ><img src="{% static 'images/CETASPS_logo.png' %}" alt="{{_("CETAPS")}}"/>
          </a>
        </div>
        <div class="img-box">
          <a target="_black" href="https://www.belasartes.ulisboa.pt/investigacao/">
            <img src="{% static 'images/cieba_logo.svg' %}" alt="{{_("CEIBA")}}"/>
          </a>
        </div>
        <div class="img-box">
          <a target="_black" href="https://cah.fresnostate.edu/pbbi.html">
            <img src="{% static '' %}" alt="{{_("PBBI - Portuguese Beyond Borders Institute")}}"/>
          </a>
        </div>
        <div class="img-box">
          <a target="_black" href="https://jait.pt/"
            ><img src="{% static 'images/ja-teatro-logo.png' %}" alt="{{_("Já Teatro Internacional")}}"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block script %} {% load static %}
<script src="js/script.js"></script>
{% endblock %}
